shamefully-hoist=true
strict-peer-dependencies=false
node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*

# Allow build scripts for these packages
onlyBuiltDependenciesFile=.pnpm-build-allow.yaml
